<div class="container">
  <nav class="navbar"></nav>
  <h1 class="mb-5">Welcome to the pokemonlanding page!</h1>
  <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
    <fieldset>
      <label class="form-label" for="username">login with username</label>
      <input class="form-control" type="text"
             id="username"
             name="username"
             required
             minlength="2"
             [ngClass]="{ 'is-valid': name.valid, 'is-invalid': (name.invalid && ( name.dirty || name.touched )) }"
             ngModel #name="ngModel"
             placeholder="enter name"/>
      <div *ngIf="name.errors && name.invalid && ( name.dirty || name.touched )">
        <p class="invalid-feedback" *ngIf="name.errors.required">please enter name</p>
        <p class="invalid-feedback" *ngIf="name.errors.minlength">name must be at least 2 characters</p>
      </div>
    </fieldset>
    <br>
    <button type="submit"
            [disabled]="loginForm.invalid"
            class="btn btn-warning">Login</button>
  </form>
</div>

