<h1>Train your Pokemons well!</h1>
<br>
<h4>These are the Pokemons you collected thus far:</h4>
<br>
<ul>
  <li *ngFor="let pokemon of localPokemons">
    {{ pokemon }}
  </li>
</ul>
<button routerLink="/catalogue" class="btn btn-danger">back to catalogue page</button>
