<h1>welcome to the catalogue page!</h1>

  <section *ngFor="let pokemon of pokemons" (click)="onPokemonClicked(pokemon)">
    {{ pokemon.name }}
  </section>
<button routerLink="/landing/trainer" class="btn btn-warning">Trainer Page</button>
